/* Styles */

.piano-key-white {
	width: 10%;
	height: 50px;
	margin-left: 1.25%;
	margin-right: 1.25%;
	margin-top: 50px;
	float: left;
	background: #ccc;
}

.piano-key-white.pressed {
	background: #00bcd4;
}